<div class="container">
  <div class="miniNav">
    <div class="arrow-box" *ngIf="!isLoading && !showVideo">
      <a href="/">
        <div class="arrow-left"></div>
      </a>
    </div>
    <button class="button2" (click)="switchWebcam()">Webcam Detection</button>
    <button class="button3">Image Detection</button>
  </div>

  <h2>Coming Soon!</h2>

  <div class="feed">
    <img src="assets/cam.png" alt="cam-logo" *ngIf="!isLoading && !showVideo" />

    <div class="loader" *ngIf="isLoading"></div>

    <div *ngIf="errorMessage" class="error-message">
      <h2>
        <!-- {{ errorMessage }} -->
      </h2>
    </div>

    <div>
      <img
        src="assets/cam.png"
        alt="cam-logo"
        *ngIf="!isLoading && !showVideo"
      />
    </div>

    <button class="button1" *ngIf="!isLoading && !showVideo">Begin</button>
    <!-- 
    <label *ngIf="showVideo && !errorMessage" class="toggle-switch">
      <input
        type="checkbox"
        [(ngModel)]="isDetecting"
        (change)="toggleDetection()"
      />
      <div class="toggle-switch-background">
        <div
          class="toggle-switch-handle"
          [ngClass]="{ active: isDetecting }"
        ></div>
      </div>
    </label> -->

    <button class="button1" id="red" *ngIf="showVideo">Stop</button>
  </div>
</div>
