/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "San Francisco";
  font-style: normal;
  font-weight: 400;
  src: local(".SFNSText-Regular"), local(".HelveticaNeueDeskInterface-Regular"),
    local(".LucidaGrandeUI"), local("Arial");
}

h1 {
  color: #49bd0f;
  font-family: "San Francisco", sans-serif;
  font-size: min(10vw, 56px);
  font-weight: 800;
  line-height: 72px;
  margin: 0 0 24px;
  text-align: center;
}

h2 {
  color: #2b2424;
  font-family: "San Francisco", sans-serif;
  font-size: min(4vw, 24px);
  font-weight: 500;
  line-height: 36px;
  margin: 0 0 24px;
  text-align: center;
}

p {
  color: #1c1c1c;
  font-family: "San Francisco", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  margin: 0 0 24px;
}

a {
  color: #1c1c1c;
  text-decoration: underline;
}

a:hover {
  color: #1c1c1c;
  text-decoration: underline;
}
